div{
    text-align: center;
    direction: rtl;
    font-size: large;
    margin-top: 100px;
}

.aboutClub{
    margin-top: 100px;
    font-size: larger;
}
.aboutClubManager{
    margin-top: 100px;
    font-size: larger;
}